<ion-header>
  <h1 class="text-center font-weight-bold text-primary"  > USUÁRIOS</h1> 
</ion-header>

<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>
      Claudia
      <p>tel: (61)98255-6065</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Diego
      <p>tel: (61)98265-3035</p>
    </ion-label>
  </ion-item>

   <ion-item>
    <ion-label>
      Ricardo
      <p>tel: (61)98356-6065</p>
    </ion-label>
  </ion-item>

  <ion-item>
      <ion-label>
        Thiago
        <p>tel: (61)99856-4542</p>
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
          Rafael
          <p>tel: (61)98785-6065</p>
        </ion-label>
      </ion-item>
</ion-list>




<ion-content>

</ion-content>
