<ion-header>
    
        <h1 class="text-center font-weight-bold text-primary"  >SGC</h1> 
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Reunião 07-10-2019</ion-card-subtitle>
            <ion-card-title>Reunião Mensal</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Nessa reunião iremos abortar assuntos a respeito de pagamentos e melhoras do condominio.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item>
            <ion-icon name="logo-playstation" slot="start"></ion-icon>
            <ion-card-title>Semana dos Jogos </ion-card-title>
            <ion-button href="#" fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
            <p> Esse semana será realizado a semana dos jogos, onde os moradores podem trazer os seus filhos e netos para que possam participar dessa divetida brincadeira.</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-card-title>Conheça as Novidades do Predio</ion-card-title>
        </ion-item>
        <ion-item href="#" class="activated">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Agora temos wi-fi para todos os moradores</ion-label>
        </ion-item>

        <ion-item href="#">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Temos uma nova adega.</ion-label>
        </ion-item>

        <ion-item class="activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Cuidado com as placas de piso molhado.</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Novas regras para nao correrem nos corredores.</ion-label>
        </ion-item>
    </ion-card>


    <ion-header>
        <style>
         * {box-sizing: border-box;}
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}
        
        .month {
          padding: 70px 25px;
          width: 100%;
          background: #1abc9c;
          text-align: center;
        }
        
        .month ul {
          margin: 0;
          padding: 0;
        }
        
        .month ul li {
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        
        .month .prev {
          float: left;
          padding-top: 10px;
        }
        
        .month .next {
          float: right;
          padding-top: 10px;
        }
        
        .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color: #ddd;
        }
        
        .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
        }
        
        .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
        }
        
        .days li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 5px;
          font-size:12px;
          color: #777;
        }
        
        .days li .active {
          padding: 5px;
          background: #1abc9c;
          color: white !important
        }
        
        /* Add media queries for smaller screens */
        @media screen and (max-width:720px) {
          .weekdays li, .days li {width: 13.1%;}
        }
        
        @media screen and (max-width: 420px) {
          .weekdays li, .days li {width: 12.5%;}
          .days li .active {padding: 2px;}
        }
        
        @media screen and (max-width: 290px) {
          .weekdays li, .days li {width: 12.2%;}
        }
          </style>
          <ion-toolbar>
            <ion-title>agenda</ion-title>
          </ion-toolbar>
        </ion-header>
        
        <ion-content>
          
        
            <div class="month">      
              <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>
                 Novembro<br>
                  <span style="font-size:18px">2019</span>
                </li>
              </ul>
            </div>
            
            <ul class="weekdays">
              <li>SE</li>
              <li>TE</li>
              <li>QUA</li>
              <li>QUI</li>
              <li>SEX</li>
              <li>SA</li>
              <li>DO</li>
            </ul>
            
            <ul class="days">  
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li><span class="active">10</span></li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>
            
        </ion-content>
        
</ion-content>